*{
    color: #999;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
  min-height: 356px;
  min-width: 456px;
  margin: 0px;  
}

header {
  margin-bottom: 20px;
  margin-left: 30%;
  height: 66px;
}

a {
  font-size: 9pt;
}

main > div {
   width: 80%;
   margin-left: auto;
}

button {
   margin-top: 10px;
   width: 80%;
   padding: 10px;
}

input {
   width: 80%;
   height: 31px;
   outline: none;
   -webkit-box-shadow: none;
  box-shadow: none;
  border: solid 1.8px;
  border-color: #D5D5D5;
  border-radius: 0.2em;
}

h3 {
   font-size: 16pt;
   color: #777;
}

label {
  font-weight: normal;
  color: #959595;
}

section {
  text-align: center;
}

section a {
  color: #39C9D9;
  margin-top: 0px;
  font-size: 11pt;
  font-weight: 500;
}

section h3{
  margin-bottom: 0px;
}

footer {
  text-align: center;
  width: 100%;
  color: #808184;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a{
  color: #808184;
  padding-top: 10px;
}

.container{
  background-color: #f3f3f3;
}

.btn{
  background-color: #1AA7B5;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 0;
}

.btn:focus {
  color:white;
}

.btn:hover{
  background-color: #147D88;
  color:white;
}

.languages a {
  color: #4bcfd5;
  cursor: pointer;
}
